@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-left: 20px;
}
/* header */

header {
  display: flex;
  justify-content: space-between;
}


a {
  color: black;
  text-decoration: none;
}


nav {
    margin-top: 20px;
}




nav ul {
  display: flex;
  list-style-type: none; 
}



 nav a { 
  margin-right: 70px;
  text-decoration: none;
}

/*
nav ul a:hover {
  color: #0065fc;
}
*/



.logo {
  flex: 1px;
  margin-top: 30px;
  margin-left: 15px;
}



#login { 

    padding-top: 40px;
    margin-right: 40px; 
}




#login a{


  color: #0065fc;
} 



nav ul li:hover {
  border-top: 3px solid #0065fc;
  padding-top: 20px;
}
nav ul a:hover {
  color: #0065fc;
} 


nav ul li {
  
  padding-top: 23px;
 margin-right: 40px;
  padding-right: 35px;
  padding-left: 35px;
} 

/* body*/

.recherche {
      margin-top: 1rem; 
}

.recherche h2 {
  margin-bottom: 1rem; 
}

#search {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#search input {
  margin-left:5px ;
  width: 16%;
  padding: 19px 15px;

  background-color:white;
  
}

.left {
 
  margin-left: 20px;
  
  margin-right: -9.21px;
    
  padding: 18.7px 20px ;
  /*border: 1px solid #ccc;*/
  border-radius: 15px 0 0 15px ;

  background-color:rgb(182, 169, 169);
}

.right {
 
  
  margin-left:  -4.5px ;
  
    
  padding: 18.75px 20px;
  /*border: 1px solid #ccc;*/
  border-radius: 0 15px 15px 0 ;

  background-color:#0065fc;
}

#search button {
 
  background-color: transparent;
 border: inherit;
 
}

.search-bar {
  outline: none;
  box-shadow: none;
  color: white;
}

.titre {
  margin-left: 15px;
  
}


.titre h2{  

  font-size: 23px;
}

/**filtres**/


#filters {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 
}

section .all_filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#filters h2 {
  margin-bottom: 0;
  margin-right: 1rem;
}

div.filter {
  display: flex;
  justify-content: center;
  margin-right:10px;
  padding-right: 15px;
  border: #ccc solid 1px;
  border-radius: 30px;
  border-left:none;
}

div.filter div {
 display: flex;
 justify-content: center;
 align-items: center;
 width:50px;
 height:50px;
 color:  #0265FC;
 background-color:#cbe0ff;
 border: #cbe0ff solid 1px;
 border-radius:50%;
 margin-left: -3px;
}

div.filter span{
  margin-top: 15px;
  margin-left: 4px;
}

.info {
  margin: 20px;

}

p.info1 i {
  color: #0265fc;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 50px;  
}

