@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {

  font-family: 'Raleway', sans-serif, arial;
  font-size: 1em;
  max-width:1440px;
  min-width:300px;
  margin:auto;
  justify-content: center;
  background-color:#ffffff;

}

/**************************************************  global  *******************************************/



a {
  color:black;

}


h1, h2 {
  font-size: 1.2rem;
  font-weight:bold;
}

.small{
  font-size: 0.9rem;
}

.fat {
  font-weight:bold;
}


.links_without_underlining {

  text-decoration: none;

}


.without_chip {

  list-style-type:none;

}


.pages_margin_left_right {
    margin-left:50px;
    margin-right:50px; 
}
.star_size {

   font-size:12px;

}

.hide {
  display: none;
}

.blue_charter {
  color: #0065fc;
}

.light_blue_charter {
  color: #deebff;
}

.gray_charter {
  color: #f2f2f2;
}

.shadow_sticker {
  box-shadow: 2px 5px 10px rgb(240,240,240);      
}


/******************************************* effets actions ***************************************************/


#navigation nav a:hover {
  padding-top: 48px;
  border-top: 2px solid #0065fc;
  color: #0065fc;}


#launch_search {
    cursor:pointer;
}

.checkbox_filtre:hover{

    transform:scale(1.06);
    cursor: pointer;
    box-shadow: 2px 5px 10px rgb(240,240,240);
}



.activity_sticker:hover {
    transform: scale(1.06);
    box-shadow: 2px 5px 10px #deebff;

}


.popular_hebergement_vignettes:hover{

    transform:scale(1.06);
    box-shadow: 2px 5px 10px #deebff;


}

.accommodation_sticker:hover {
  transform: scale(1.06);
  box-shadow:2px 5px 10px #deebff;

}

/*************************************************** Header *****************************************************/


header {

  margin-left:50px;
  margin-right:50px;

}


#navigation {
  display : flex;
  flex-wrap: wrap;
  margin-left: 2px;

}


#bloc_logo {
  flex:2px;
  min-width:122px;
  margin-top: 47px;
}

#bloc_logo img {
    margin-left:2px;
    width:97px
}

#navigation ul {
  
}