@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {

  font-family: 'Raleway', sans-serif, arial;
  font-size: 1em;
  max-width:1440px;
  min-width:300px;
  margin:auto;
  justify-content: center;
  background-color:#ffffff;

}

/**************************************************  global  *******************************************/



a {
  color:black;

}


h1, h2 {
  font-size: 1.2rem;
  font-weight:bold;
}

.small{
  font-size: 0.9rem;
}

.fat {
  font-weight:bold;
}


.links_without_underlining {

  text-decoration: none;

}


.without_chip {

  list-style-type:none;

}


.pages_margin_left_right {
    margin-left:50px;
    margin-right:50px; 
}
.star_size {

   font-size:12px;

}

.hide {
  display: none;
}

.blue_charter {
  color: #0065fc;
}

.light_blue_charter {
  color: #deebff;
}

.gray_charter {
  color: #f2f2f2;
}

.shadow_sticker {
  box-shadow: 2px 5px 10px rgb(240,240,240);      
}


/******************************************* effets actions ***************************************************/


#navigation nav a:hover {
  padding-top: 48px;
  border-top: 6px solid #0065fc;
  color: #0065fc;}


#launch_search {
    cursor:pointer;
}

.checkbox_filtre:hover{

    transform:scale(1.06);
    cursor: pointer;
    box-shadow: 2px 5px 10px rgb(240,240,240);
}



.activity_sticker:hover {
    transform: scale(1.06);
    box-shadow: 2px 5px 10px #deebff;

}


.popular_hebergement_vignettes:hover{

    transform:scale(1.06);
    box-shadow: 2px 5px 10px #deebff;


}

.accommodation_sticker:hover {
  transform: scale(1.06);
  box-shadow:2px 5px 10px #deebff;

}

/*************************************************** Header *****************************************************/


header {

  margin-left:50px;
  margin-right:50px;

}


#navigation {
  display : flex;
  flex-wrap: wrap;
  margin-left: 2px;

}


#bloc_logo {
  flex:2px;
  min-width:122px;
  margin-top: 47px;
}

#bloc_logo img {
    margin-left:2px;
    width:97px
}

#navigation ul {

      width:300px;
      display:flex;
      justify-content:center;

}

#navigation li {

 width: 50%;

}

#navigation nav a {
        display:inline-block;
        text-align:center;
        width:100%;
        padding-top:50px;
        
}


#inscrire {
    text-align:center;
    padding: 50px 25px 0px 25px;
}

#presentation {
    margin-top:37px;
}

#presentation h1, 
#presentation p {
  margin-top: 7px;
}

/******************************** Section filtres *************************************/

#search_filters {
    margin :20px 20px 0px 20px;

}

#research {
    display: flex;
    height: 40px;
    width:420px;

    }

  .demi_cercle {

    display:flex;
    justify-content:center;
    align-items:center;
    width:70px;
    background: #f2f2f2;
    border-radius:15px 0px 0px 15px;

  }

  #city_research {
        border-top:1px solid #f2f2f2;
        border-bottom:1px solid #f2f2f2;
        border-left:none;
        border-right:none;
        padding-left:15px;
        padding-right:2px;
        width:70%;
        font-family:"Raleway", sans-serif, Arial;
        font-size:1rem;
  }

  #launch_search {

      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      width:40%;
      border:none;
      color:#ffffff;
      font-family:"Raleway", sans-serif, Arial;
      font-size:1rem;
      background-color:#0065fc;
      border-radius:0px 15px 15px 0px;
  }

  #launch_search i{

      display:none;

  }


  #filtres {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin-top:20px;
  }

#filtres_label {
    margin-top:10;
    margin-right:25;
}

.checkbox_filtre {
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid #f2f2f2;
    border-left:none;
    border-radius:25px;
    height:50px;
    margin-top:13px;
    margin-right:20px;
}

.cercle {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
    background-color:#deebff;
    border-radius:25px;
}


.checkbox_label{
    padding-left:13px;
    padding-right:20px;   
}

/* --information filtre*/

#filtres_information
{
  display:flex;
  align-items:center;
  margin-top:35px;

}

.empty_circle {

    display:flex;
    height:25px;
    width:25px;
    margin-right:12px;
    justify-content:center;
    align-items:center;
    border:2px solid #f2f2f2;
    border-radius:25px;
}

.empty_circle i{
  font-size:12px;
}



  




